<!-- <div class="container"> -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <!-- <li class="nav-item"> -->
      <a class="nav-link active" aria-current="page" routerLink="">Home</a>
    <!-- </li> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0 mb-lg-0">
        <li class="nav-item" *ngIf="isUser && userType === 'client'">
          <!-- <a class="nav-link active" aria-current="page" routerLink="map">Map</a> -->
        </li>
        <!-- <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
        </li> -->
        <!-- <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link active" aria-current="page" routerLink="register">Register</a>
        </li> -->
        <!-- <li class="nav-item" *ngIf="isUser">
          <a class="nav-link active" aria-current="page" routerLink="user">User</a>
        </li> -->
        <li class="nav-item" *ngIf="isUser && userType === 'restaurantOwner'">
          <a class="nav-link active" aria-current="page" routerLink="plat">Dishes</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="prix">Prix</a>
        </li> -->
        <li class="nav-item" *ngIf="isUser && userType === 'restaurantOwner'">
          <a class="nav-link active" aria-current="page" routerLink="menu">Menu</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'restaurantOwner'">
          <a class="nav-link active" aria-current="page" routerLink="ourOrders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="map">Map</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ms-auto mt-0 mb-lg-0">
        <li class="nav-item active" *ngIf="isUser">
          <a class="btn btn-danger" (click)="logout()" routerLink="login">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>