<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="menu-content" style="height: 100%; width: 100%;">
          <b class="row justify-content-center">Our Menu</b><br>
          <div class="border p-4 shadow rounded">
            <div>
              <!-- <b>Our Dishes:</b><br> -->
            </div>
            <div *ngFor="let plat of menu.plats; let i = index">
              <ul style="list-style: none; padding: 0;">
                <li style="margin-bottom: 10px;border: 1px solid #ddd;padding: 10px;padding-right: 20px;border-radius: 5px;">
                  <h6 style="margin: 0px">
                    <img src="{{ plat.image }}" alt="{{ plat.name }}" style="height: 25px;width: 25px;object-fit: cover;margin-right: 5px;">
                    {{ plat.name }}
                    <span style="float: right;color: #007BFF;">{{ plat.price }} dt</span>
                  </h6>
                  <!-- Boutons pour incrémenter et décrémenter -->
                  <div class="row mt-2">
                    <div class="col">
                      <button class="btn btn-danger" (click)="decrementQuantity(i)">-</button>
                    </div>
                    <div class="col text-center">{{ plat.quantity }}
                    </div>
                    <div class="col text-end">
                      <button class="btn btn-success" (click)="incrementQuantity(i)">+</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  